@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.input-group > .input-group-btn:last-child > .selectpicker {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.input-group > .input-group-btn:first-child > .selectpicker {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

footer .navbar-collapse.in {
  bottom: 70px;
  position: absolute;
  background-color: #333;
  width: 100%; }

#app {
  height: calc(100vh - 40px);
  overflow: scroll; }

@media screen and (max-width: 768px) {
  footer .navbar-collapse {
    position: absolute;
    bottom: 70px;
    width: 100%;
    background-color: #303030; } }

/*# sourceMappingURL=app.css.map */
