@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.content {
  min-height: calc(100vh - 332px); }

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0; } }

.slider {
  height: 810px; }

.slider .carousel.carousel-slider {
  height: 100%; }

div.map {
  position: relative; }

div.map:after {
  width: calc(100% + 30px);
  height: 100%;
  background: rgba(255, 255, 255, 0);
  content: '';
  z-index: 2222;
  position: absolute;
  top: 0;
  left: 0; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(/fonts/MaterialIcons-Regular.woff) format("woff"), url(/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga'; }

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
nav ul a,
nav .brand-logo {
  color: #444; }

p {
  line-height: 2rem; }

.button-collapse {
  color: #26a69a; }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9); }

.parallax-container .section {
  width: 100%; }

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }
  #index-banner .section {
    top: 10%; } }

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0; } }

.icon-block {
  padding: 0 15px; }

.icon-block .material-icons {
  font-size: inherit; }

.below_icon_container {
  margin-top: 130px; }

.pagination li button {
  background: transparent;
  border: 0;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px; }

.pagination li.active button {
  color: #fff; }

table.info tbody tr {
  border-bottom: 1px dashed #ccc; }

table.info tbody tr:last-child {
  border-bottom: none; }

table.info tbody tr td {
  text-indent: 20px; }

table.info tbody tr.no-border {
  border: 0; }

.bx-wrapper img {
  width: 100%; }

.bx-pager {
  margin-top: -50px; }

.bx-pager img {
  width: 100px;
  height: 60px;
  padding: 2px;
  box-shadow: 0 0 2px #ccc; }

footer.page-footer {
  margin: 0; }

.card .card-image img {
  width: 90vw;
  height: 50vw; }

a#logo-container:after {
  content: '\0';
  width: 148px;
  height: 100%;
  display: block;
  height: 116px;
  z-index: 999999;
  margin-top: 65px;
  box-shadow: 2px 2px 3px #b2b2b2; }

.footer-nav {
  list-style: none; }

.footer-nav li {
  float: left;
  padding: 0 10px;
  border-right: 1px solid #ccc; }

.footer-nav li:last-child {
  border: none; }

.no-margin {
  margin: 0; }

.pad-10 {
  padding: 10px !important; }

.card.horizontal .card-image img {
  width: 100% !important;
  height: 20vw !important; }

@media only screen and (max-width: 992px) {
  .brand-logo {
    display: none !important; } }

@media only screen and (max-width: 601px) {
  .below_icon_container {
    margin-top: 0; }
  h2 {
    font-size: 1.86rem; }
  .modal .modal-content {
    padding: 10px; }
  .modal {
    width: 98%; } }

@media only screen and (max-width: 600px) {
  div#accommodations {
    margin-top: 180px; }
  div.map:after {
    width: 100%; } }

@media only screen and (min-width: 601px) {
  .card .card-image img {
    width: 100%;
    height: 30vh; } }

.listing .card-image img {
  -o-object-fit: cover;
  object-fit: cover; }

.listing .card-image {
  width: 40%; }

.listing .card.horizontal .card-image img {
  padding: 15px; }

.listing .card.horizontal .card-stacked .card-content {
  padding-left: 0 !important; }

.listing .card.horizontal .card-stacked .card-content h5 {
  color: #2980b9; }

img.activator {
  -o-object-fit: cover;
  object-fit: cover; }

/*# sourceMappingURL=app.css.map */
